/.vscode
*.cc
*.cc
*.h
*.swift
*.cmake
*.cc



# Flutter generated plugin registrant files
**/generated_plugin_registrant.*
**/ephemeral/
petty_app/.flutter-plugins
petty_app/lib/core/config/env.dart
*.cc
*.cc
*.h
*.cmake
*.swift
petty_app/windows/flutter/generated_plugin_registrant.cc
petty_app/windows/flutter/generated_plugin_registrant.h
petty_app/windows/flutter/generated_plugins.cmake
*.cc
petty_app/linux/flutter/generated_plugin_registrant.cc
petty_app/windows/flutter/generated_plugin_registrant.h
petty_app/windows/flutter/generated_plugins.cmake
petty_app/pubspec.lock
petty_app/macos/Flutter/GeneratedPluginRegistrant.swift
petty_app/macos/Flutter/GeneratedPluginRegistrant.swift
petty_app/macos/Flutter/GeneratedPluginRegistrant.swift
petty_app/linux/flutter/generated_plugins.cmake
*.h
petty_app/linux/flutter/generated_plugin_registrant.h
**/.venv
**/models_cache
**/*.jpg