/.vscode
*.cc
*.cc
*.h
*.swift
*.cmake
*.cc



# Flutter generated plugin registrant files
**/generated_plugin_registrant.*
**/ephemeral/
petty_app/.flutter-plugins
petty_app/lib/core/config/env.dart
